.main-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .contact-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .TitleContact {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .contact-img1 img {
    width: 100px;
    height: auto;
  }
  
  .contact-container2 {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
  }
  
  .contact-container h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .contact-container p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .wrapper {
    position: relative;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .gradient-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #3498db, transparent);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }
  
  input[type="text"]:focus + .gradient-bg,
  input[type="email"]:focus + .gradient-bg,
  textarea:focus + .gradient-bg {
    transform: scaleX(1);
  }
  
  .submitcontact {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    font-size: 16px;
  }
  
  .submitcontact:hover {
    background-color: #2980b9;
  }
  
  .homebtnn {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
  }
  
  .homebtnn:hover {
    background-color: #2980b9;
  }